* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body .spinner {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 10;
  overflow: hidden;
  position: fixed;
}
body .spinner .lds-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
}
body .tblNguoiDung .table tbody tr .id {
  width: 5%;
}
body .tblNguoiDung .table tbody tr .name {
  text-align: center;
  width: 20%;
}
body .tblNguoiDung .table tbody tr .price {
  text-align: center;
  width: 10%;
}
body .tblNguoiDung .table tbody tr .img {
  width: 25%;
}
body .tblNguoiDung .table tbody tr .img img {
  height: 250px;
  padding-left: 15%;
}
body .tblNguoiDung .table tbody tr .about {
  width: 35%;
}
body .tblNguoiDung .table tbody tr .action_btn {
  width: 5%;
}
body .modal-body .tb {
  color: red;
  margin-left: 20px;
}/*# sourceMappingURL=parttwo.css.map */